<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update phone information</title>
</head>
<body>
<h1>Edit phone information</h1>
<p>
    <a href="/phones">Phones list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-phone}" th:object="${phone}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><select th:field="*{category}">
                <option th:each="c : ${categories}"
                        th:value="${c.id}"
                        th:text="${c.name}"></option>
            </select>
            </td>
        </tr>
        <tr>
            <td>Purchase date:</td>
            <td><input type="date" th:field="*{purchaseDate}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="text" th:field="*{image}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update phone"></td>
        </tr>
    </table>
</form>
</body>
</html>